<%- include('partials/header.ejs'); %>
  <body>
    <%- include('partials/navbar.ejs'); %>
    <section class="container">
      <h1>Configurações</h1>
    </section>
  </body>
<%- include('partials/footer.ejs'); %>

