<!DOCTYPE html>
<meta charset="UTF-8" />
<title>Recuperar Senha</title>

<body>
  <div class="wc_ead">
    <div class="wc_ead_enter" style="min-height: 420px">
      <div class="wc_ead_content">
        <article class="box wc_ead_login_single wc_ead_login">
          <header>
            <h1 class="icon-key">Recuperar Senha:</h1>
            <p>Informe seu e-mail para receber as intruções!</p>
          </header>
        </article>

        <form name="wc_ead_password" action method="post">
          <label>
            <span class="text">E-mail</span>
            <input type="email" placeholder="informe seu e-mail :" required />
          </label>
        </form>
        <a
          href="#"
          class="btn btn-primary btn-lg active"
          role="button"
          aria-pressed="true"
          >Enviar</a
        >
      </div>
    </div>
  </div>
</body>

<style>
  title {
    display: none;
  }
  * {
    font-family: "Roboto", sans-serif;
  }
  .wc_ead_content {
    width: 80%;
    margin: 0 auto;
    padding: 40px 0;
  }
  .wc_ead_login_single {
    display: block;
    width: 600px;
    max-width: 100%;
    margin: 1% auto;
  }
  form {
    display: block;
    margin-top: 0em;
  }
</style>
