<%- include('partials/header.ejs'); %>
<link rel="stylesheet" href="/css/esqueci-minha-senha.css">
<body>
    <form>
        <h1>Esqueci</h1>
        <h1>minha senha</h1>

        <div class="row">
          <input type="email" placeholder="Email" id="email" />
        </div>
        <div class="row">
          <input type="password" class="senha" placeholder="Senha" id="senha1" />
          <img
            src="https://icon-library.com/images/icon-eyes/icon-eyes-12.jpg"
            class="btn"
          />
        </div>
        <div class="row">
            <input type="password" class="senha" placeholder="Repetir a senha" id="senha1" />
            <img
              src="https://icon-library.com/images/icon-eyes/icon-eyes-12.jpg"
              class="btn"
            />
          </div>
        <input type="button" value="Confirmar" id="Confirmar"/>
        <a href="/">
            <input type="button" value="Voltar" id="Voltar"/>
        </a>
      </form>
</body>
<script>

</script>
<%- include('partials/footer.ejs'); %>