<%- include('partials/header.ejs'); %>
<link rel="stylesheet" href="/css/inicio.css">
  <body>
    <%- include('partials/navbar.ejs'); %>
    <section class="container"> 
      <h1>Inicio</h1>
    </section>
  </body>
<%- include('partials/footer.ejs'); %>
