<%- include('partials/header'); %>
<head>
 <link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/login.css">
</head>
    <body>
        <div class="login-page">
            <div class="form">
                <form class="register-form">
                    <input type="text" placeholder="name"/>
                    <input type="password" placeholder="password"/>
                    <input type="text" placeholder="email address"/>
                    <button>criar</button>
                    <p class="message">Already registered? <a href="#">Sign In</a></p>
                </form>
                <form class="login-form">
                    <input type="text" placeholder="usuario"/>
                    <input type="password" placeholder="senha"/>
                    <button>login</button>
                    <p class="message">Not registered? <a href="#">Create an account</a></p>
                </form>
            </div>
        </div>
    </body>
<%- include('partials/footer'); %>


