<%- include('partials/header.ejs'); %>
<link rel="stylesheet" type="text/css" href="css/login.css"><body>
<body>
  <form>
    <h1>Login</h1>
    <div class="row">
      <input type="email" placeholder="Email" id="email" />
    </div>
    <div class="row">
      <input type="password" class="senha" placeholder="Senha" id="senha1" />
      <img
        src="https://icon-library.com/images/icon-eyes/icon-eyes-12.jpg"
        class="btn"
      />
    </div>
    <input type="button" value="Entrar" id="entrar" onclick="Login()" />
    <div id="Registro">
      <a href="registro">Registrar-se</a>
    </br>
      <a href="esqueci-minha-senha">Esqueci minha senha</a>
    </div>
  </form>
</body>

<script>
  const senha = document.querySelector(".senha");
  const btn = document.querySelector(".btn");

  btn.onclick = () => {
    if (senha.type === "password") {
      senha.type = "text";
      btn.src =
        "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8SA14-A-zoRaiJ2GdUiESsisaFiHNYrUZtjtjZqnth0D_KdfkwzQWIdCjbzhAoYKPTvs&usqp=CAU";
    } else {
      senha.type = "password";
      btn.src = "https://icon-library.com/images/icon-eyes/icon-eyes-12.jpg";
    }
  };

  function Login() {
    let senha1 = document.getElementById("senha1");
    let email = document.getElementById("email");

    if (email.value == null || email.length == 0) {
      alert("Campo de email preenchido incorretamente");
    } else if (senha1.value == null || senha1.length == 0) {
      alert("Campo de senha preenchido incorretamente");
    } else {
      return (location.href = "Inicio");
    }
  }
</script>
%> <%- include('partials/footer.ejs'); %>
