<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Box Icons -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <!-- Google Fonts -->
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap" rel="stylesheet">

    
    <title>Side Bar Responsivo</title>
</head>
<body>
    
    <div class="sidebar">
        <div class="logoContent">
            <div class="logo">
                <i class='bx bxl-nodejs'></i>
                <div class="logoName">Socker</div>
            </div>
            <!-- logo -->
            <i class='bx bx-menu' id="btn"></i>
        </div>
        <!-- logoContent -->
        <ul class="nav_list">

            <li>
                <i class='bx bx-search' ></i>
                <input type="search" name="search" placeholder="Procurar...">
                <span class="toolipe">Procurar</span>
            </li>

            <li>
                <a href="#">
                    <i class='bx bx-grid-alt' ></i>
                    <span class="links_name">Dashboard</span>
                    <span class="toolipe">Dashboard</span>
                </a>
            </li>

            

            <li>
                <a href="#">
                    <i class='bx bx-user' ></i>
                    <span class="links_name">Usuário</span>
                    <span class="toolipe">Usuário</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <i class='bx bx-cog' ></i>
                    <span class="links_name">Configurações</span>
                    <span class="toolipe">Configurações</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <i class='bx bx-folder-open' ></i>
                    <span class="links_name">Arquivos</span>
                    <span class="toolipe">Arquivos</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <i class='bx bx-chat' ></i>
                    <span class="links_name">Mensagens</span>
                    <span class="toolipe">Mensagens</span>
                </a>
            </li>


            <li>
                <a href="#">
                    <i class='bx bx-bar-chart' ></i>
                    <span class="links_name">Relatórios</span>
                    <span class="toolipe">Relatórios</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <i class='bx bx-cart-alt' ></i>
                    <span class="links_name">Vendas</span>
                    <span class="toolipe">Vendas</span>
                </a>
            </li>
        </ul>
        <!-- nav_list -->
        <div class="profileContent">
            <div class="profile">
                <div class="profileDetail">
                    <img src="./img/brunosalmito.png">
                    <div class="name_job">
                        <div class="name">Socker</div>
                        <div class="job">Fix System</div>
                    </div>
                </div>
                <!-- profileDetail -->
                <i class='bx bx-log-out' id="logout" ></i>
            </div>
            <!-- profile -->
        </div>
        <!-- profileContent -->
    </div>
    <!-- sidebar -->

    <div class="homeContent">
        <h2>Home</h2>
    </div>
<style>
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

/* sidebar */
.sidebar {
    position: fixed;
    width: 78px;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #11101d;
    padding: 6px 14px;
    transition: all 0.5s ease;
}

.sidebar .logoContent .logo {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    color: #fff;
    opacity: 0;
    pointer-events: auto;
}

.sidebar .links_name {
    opacity: 0;
    /* pointer-events: none; */
}

.sidebar .logoContent .logo i {
    font-size: 28px;
    margin-right: 5px;
}

.sidebar .logoContent .logo .logoName {
    font-size: 20px;
    font-weight: 400;
}

.sidebar .bx-menu {
    position: absolute;
    top: 6px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    color: #fff;
}

.sidebar ul {
    margin-top: 20px;
}

.sidebar ul li {
    position: relative;
    width: 100%;
    height: 50px;
    line-height: 50px;
    margin: 0 5px;
    list-style: none;
}

.sidebar ul li input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 12px;
    outline: none;
    background-color: #1d1d31;
    padding-left: 50px;
    font-size: 18px;
    color: #fff;
}

.sidebar ul li .bx-search {
    position: absolute;
    font-size: 22px;
    color: #fff;
    z-index: 999;
    cursor: pointer;
}

.sidebar ul li .bx-search:hover {
    background-color: #fff;
    color: #1d1d31;
}

.sidebar ul li a {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    border-radius: 12px;
    white-space: nowrap;
    transition: all 0.5s ease;
}

.sidebar ul li a:hover {
    color: #11101d;
    background-color: #fff;
}

.sidebar ul li i {
    min-width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 12px;
    text-align: center;
}

.sidebar .profileContent {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #fff;
}

.sidebar .profileContent .profile {
    position: relative;
    height: 60px;
    padding: 10px 6px;
    background-color: #1d1d31;
}

.sidebar .profileContent .profile .profileDetail {
    display: flex;
    align-items: center;
    pointer-events: none;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
}

.sidebar .profileContent .profile .profileDetail img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    background-color: #202047;
    border-radius: 12px;
}

.sidebar .profileContent .profile .profileDetail .name_job {
    margin-left: 15px;
}

.profile .profileDetail .name_job .name {
    font-size: 15px;
    font-weight: 400;

}

.profile .profileDetail .name_job .job {
    font-size: 12px;
}

.profile #logout {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    bottom: 8px;
    min-width: 50px;
    line-height: 50px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 12px;

}

.homeContent {
    position: absolute;
    top: 0;
    left: 78px;
    width: calc(100% - 300px);
    transition: all 0.5s ease;
}

.homeContent h2 {
    margin: 15px;
    font-size: 25px;
    font-weight: 400;
    color: #1d1d31;
}

/* toolipe */
.toolipe {
    position: absolute;
    top: 0;
    left: 122px;
    transform: translate(-50%, -50%);
    width: 122px;
    height: 35px;
    background-color: #fff;
    border: none;
    border-radius: 12px;
    outline: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.500);
    text-align: center;
    color: #1d1d1d;
    line-height: 35px;
    transition: 0;
    opacity: 0;
}

.sidebar ul li:hover .toolipe {
    transition: all 0.5s ease;
    top: 50%;
    opacity: 1;

}

/* Sidebar active */
.sidebar.active {
    width: 300px;
}

.homeContent.active {
    left: 300px;
}

.sidebar.active .logoContent .logo {
    opacity: 1;
}

.sidebar.active .bx-menu {
    left: 90%;
}

.sidebar.active .links_name {
    opacity: 1;
    pointer-events: auto;
}

.sidebar.active .profileContent .profile .profileDetail {
    opacity: 1;
    pointer-events: auto;
}

.sidebar.active .profile #logout {
    left: 90%;
}

.sidebar.active .toolipe {
    display: none;
}
</style>
    <script>
        // variáveis
        const btn = document.querySelector('#btn');
        const bxSearch = document.querySelector('.bx-search');
        const sidebar = document.querySelector('.sidebar');
        const home = document.querySelector('.homeContent');

        // Eventos de escuta do click
        btn.addEventListener('click',()=>{
            sidebar.classList.toggle('active');
            home.classList.toggle('active');
        });

        bxSearch.addEventListener('click',()=>{
            sidebar.classList.toggle('active');
            home.classList.toggle('active');
        });
    </script>
</body>
</html>