<%- include('partials/header.ejs'); %>
<% require()%>
<link rel="stylesheet" href="/css/produtos.css">
  <body>
    <%- include('partials/navbar.ejs'); %>
    <section class="container">
      <h2>Produtos</h2>
      <div id="ListaProdutos">
        <%= produtos %>
      </div>
    </section>
  </body>

  <script>

      console.log(produtos);

  </script>
<%- include('partials/footer.ejs'); %>