<%- include('partials/header.ejs'); %>
<link rel="stylesheet" href="/css/registro.css">
<body>
    <form>
        <h1>Registro</h1>
        <div class="row">
          <input type="text" placeholder="Nome" id="nome" />
        </div>
        <div class="row">
            <input type="text" placeholder="CPF/CNPJ" id="cpf-cnpj" />
          </div>
        <div class="row">
          <input type="email" placeholder="Email" id="email" />
        </div>
        <div class="row">
          <input type="password" class="senha" placeholder="Senha" id="senha1" />
          <img
            src="https://icon-library.com/images/icon-eyes/icon-eyes-12.jpg"
            class="btn"
          />
        </div>
        <div class="row">
            <input type="password" class="senha" placeholder="Repetir a senha" id="senha1" />
            <img
              src="https://icon-library.com/images/icon-eyes/icon-eyes-12.jpg"
              class="btn"
            />
          </div>
        <input type="button" value="Registrar" id="Registrar"/>
        <a href="/">
            <input type="button" value="Voltar" id="Voltar"/>
        </a>
      </form>
</body>
<%- include('partials/footer.ejs'); %>